<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="description" content=""/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta hrrp-equiv="X-UA-Compatible" content="ie=edge">
    <!--10-->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="content" class="main">
        <h1>webpack.config.js</h1>
        <%= htmlWebpackPlugin.options.abc %>
    </div>
</body>
</html>