
/**
 * Created by songxia on 2016/08/05.
*/
html {
    height: auto;
    font-family: Microsoft YaHei, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
	font-style: normal;
	font-weight: 100;
	display: block;
	margin: 0 auto;
}
ol, ul, li ,i{
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}
img {
    border: 0;
}
a {
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
}
button {
    overflow: visible;
}
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
#page-content {
	max-width:750px;
    margin:0 auto;
    overflow: hidden;
}
.overflow-hidden {
    overflow: hidden;
}
.text-color1 {
    color: #7870CC;
}
.text-color2 {
    color: #6BC4EA;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
	position: absolute;
	right: 0;
}
.display-inline {
    display: inline-block!important;
}
.display-block {
    display: block!important;
}
.padding{
    padding: 0!important;
}
.padding-1 {
    padding: 0.1rem;
}
.margin-top {
    margin-top: 0.1rem;
}
.margin-left {
    margin-left: 0.1rem;
}
.margin-right {
    margin-right: 0.1rem;
}
.margin-bottom{
    margin-bottom: 0.1rem;
}
.text-align{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.border-bottom{
    border-bottom: #f2f2f2 solid 1px;
}
.color-purple {
    color: #7870CC!important;
}
.bacolor-purple {
    background: #7870CC;
}
.color-blue {
    color: #6bc4ea;
}
