/*
* @Author: wangjianfei
* @Date:   2017-04-28 14:11:45
* @Last Modified by:   wangjianfei
* @Last Modified time: 2017-05-15 14:39:15
*
*
*
*/

*{
	margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*  */
.nav-bar{
	width: 8.906667rem;
	height: 0.88rem;
	background-image: url(/html/degulaOne/images/nav_bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.nav-bar ul li{
	-webkit-box-flex: 1;
   -moz-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   line-height: 0.88rem;
   text-align: center;
   color: #3F5969;
   position: relative;
   cursor: pointer;
}
.nav-bar ul li b{
	display: block;
	position: absolute;
	height: 60%;
	width: 1px;
	background: url(/html/degulaOne/images/headlineoff.png) left center;
	left: 0;
	top: 20%;
}
.nav-bar ul li.on{
	color: #fff;
	background-image: url(/html/degulaOne/images/selected_bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.nav-bar ul li.on b{
	background-image: url(/html/degulaOne/images/headlineon.png);
}
/* container */
.container{
    /*padding-bottom: .4rem;*/
}
.main-box{
	background-image: url(/html/degulaOne/images/middle_img02.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
  padding-bottom: .4rem;
}
.container>img{
	display: block;
	width: 100%;
}
.content{
	position: relative;
}
/* main */
.main{
	width: 8.933333rem;
	margin: 0 auto;
	position: relative;
	height: 26.133334rem;
}
.main ul li{
	overflow: hidden;
	height: 1.866667rem;
	padding-left: 0.32rem;
	position: relative;
  background: url(/html/degulaOne/images/repeat_x.png) repeat-x bottom;
}
.main ul li:before{
	display: table;
	content: "";
}

.main ul b,
.main ul span,
.main-img,
.main ul button{
	float: left;
	color: #fff;
}
.main ul b,
.main ul span{
	line-height: 1.866667rem;
	font-weight: 100;
}
/* 0503 */
.ticket{
	width: 1.866667rem;
	text-align: center;
}
.score{
	width: 0.933333rem;
	text-align: center;
}
/* 0503 */
.main ul li>span{
	margin-right: 0.25rem;
    width: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main-img{
	width: 1.066667rem;
    height: 1.066667rem;
    border: 0.013333rem solid #fff;
    border-radius: 50%;
    padding: 0.08rem;
    box-shadow: inset 0 0 0.133333rem #fff;
    position: relative;
    margin-top: 0.4rem;
    margin-left: 0.333333rem;
    margin-right: 0.333333rem;
    position: relative;
    cursor: pointer;
}
.main-img span{
    position: absolute;
    width: 80%;
    height: 30%;
    background-image: url(/html/degulaOne/images/isliving.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: .05rem;
}
.main-img img{
	width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}
/*  */
.main ul button{
	background: none;
	display: block;
	width: 1.546667rem;
	height: 0.72rem;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.293333rem;
  text-align: center;
  line-height: 0.72rem;
  background-image: url(/html/degulaOne/images/follow_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
}
/**/
.nav-box img{
   display: block;
   width: 100%;
}
/*  */
header{
	position: relative;
}
#isLiving{
	width: 1.546667rem;
	height: 0.573333rem;

}
#isFlow{
	width: 1.96rem;
	height: 0.72rem;
}
#isFlow,
#isLiving{
	position: absolute;
    left: 0.533333rem;
    top: 0.533333rem;
	display: none;
}
/* footer */
header img,
.footer img{
	display: block;
	width: 100%;
}

/* 0502 */
.main-title{
	width: 8.266667rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.266667rem 0;
	border-bottom: 1px solid #1F444F;
}
.main-title span{
	float: left;
	color: #6DCBFA;
	/* width: 30%; */
	text-align: center;
}
.main-title span:nth-child(1){
	width:48%;
}
.main-title span:nth-child(2){
	width: 0.933333rem;
}
.main-title span:nth-child(3){
	width: 1.866667rem;
}
/* user-list */
.user-list{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}
.user-list.on{
	display: block;
}
/* nav-btn */
/* 每當有新的集數出來，添加一個nav-btn  class即可 */
.nav-bar ul li.nav-btn{
	color: #fff;
}
.main ul button.followed{
	display: none;
}
/* 0503 */
.rule-msg{
    background-image: url(/html/degulaOne/images/footer_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0.6rem;
}
.rule-msg:before{
	display: table;
	content: "";
}
.rule-list{
	width: 90%;
	margin: 0 auto;
	margin-top: 0.4rem;
	color: #6C8591;
}
/* 0515 */
.main ul li i{
	background: none;
    display: block;
    width: 1.866667rem;
    height: 0.933333rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.293333rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
}
.main ul li i.promotion{
	background-image: url(/html/degulaOne/images/end_img02.png);
}
.main ul li i.out{
	background-image: url(/html/degulaOne/images/end_img01.png);
}
.main ul li i.nothing{
	background-image: url(/html/degulaOne/images/end_img03.png);
}
/*goTop*/
.goTop{
	width: .65rem;
	height: .95rem;
	position: fixed;
  right: 0.266667rem;
  bottom: 0.666667rem;
	background-image: url(/html/degulaOne/images/top.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
