
$jdred = #e4393c
.doc-box
    padding: .2rem .266667rem
    
    .item-box
        padding: 10px 0

        h3
            text-align: center
            font-size: .4rem
            color: $main-content-color

        p
            margin-top: 10px
            text-align: center
            font-size: .333333rem

            a
                color: $jdred
                transition: color .2s

                &:hover
                     color: $main-content-color