$main-content-color = purple

abs-v-center($right)
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: $right

//测试异步组件按钮
#test
    color #4183c4
    font-size 20px
    line-height 30px
    text-align: center