@import "./mixin.scss";
// 如何使用mixin.scss

// <div class="test_mixinbox">
//   <h3>測試mixin.scss</h3>
// </div>


.test_mixinbox{
  width: 50%;
  height: 1.33rem;
  background: $blue;
  position: absolute;
  @include center;
  h3{
    @include sc(.3rem, #fff);
  }
}
