@import "./styl_mixin.styl"
@import "./Doc.styl"

body
    height: 100vh
    background: rgba(0,0,0,.1)

#backTop
    display: block
    width: .65rem
    height: .95rem
    position: fixed
    right 15px
    bottom: 20px
    background-image: url(/html/web/draculaDinner/images/top.png)
    background-size: 100% 100%
    background-repeat: no-repeat


#md
    // abs-v-center(50px)
    margin-top: 80px
    // test autoprefixer
    // display: flex

    h4
        color: $main-content-color