<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="description" content="" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="cleartype" content="on" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- 返回顶部 -->
    <div id="backTop" class="backTop"></div>
    <div class="container">
      <!-- PUG模板 -->
      <div id="pug"></div>
      <div id="rankBox"></div>
      <!-- 顯示.md文件 -->
      <div id="md" style="padding: 20px;"></div>
      <!-- test css modules -->
    </div>
  </body>
</html>
