block variables

doctype
html.no-js(lang="zh")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge,chrome=1")

        meta(name="viewport",  content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no")

        block title
            title socket demo

        meta(name="format-detection" content="telephone=no,address=no,email=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="renderer" content="webkit")

        <!-- uc强制竖屏 -->
        meta(name="screen-orientation" content="portrait")
        <!-- QQ强制竖屏 -->
        meta(name="x5-orientation" content="portrait")
        <!-- UC强制全屏 -->
        meta(name="full-screen" content="yes")
        <!-- QQ强制全屏 -->
        meta(name="x5-fullscreen" content="true")
        <!-- UC应用模式 -->
        meta(name="browsermode" content="application")
        <!-- QQ应用模式 -->
        meta(name="x5-page-mode" content="app")

        link(rel='shortcut icon' type='image/x-icon' href='image/favicon.ico')

        block styles
    body(ontouchstart="" class="loading")
        <!--[if lt IE 9]>
        p.browserupgrade 抱歉，本网站需要 IE9+ 或现代浏览器。请升级或使用其他浏览器。国产浏览器请使用极速模式，不要使用兼容模式。
        <![endif]-->
        
        .toast-container

        .container

            block mainContent

        .footer-wrapper